{% extends "/base_1col.html" %}

{% block main %}
<script>
    function deleteBlogPost(id) {
        if (confirm("确定要删除文章?")) {
            $.post("/post/delete", {postid: id}, function (data) {
                location.reload();
            });
        }
    }
</script>
<div style="margin:20px 0 10px 0;">
<table style="width:80%">
    <tr><th>id</th><th>标题</th><th>发布时间</th><th>最后修改</th><th>操作</th></tr>
    {% for post in postlist %}
    <tr>
        <td style="text-align: center;">{{post.id}}</td>
        <td>{{post.title}}</td>
        <td style="text-align: center;">{{post.date|datetime}}</td>
        <td style="text-align: center;">{{post.last_modify_date|datetime}}</td>
        <td style="text-align: center;">
            <a href="/post/{{post.id}}" target="_blank">查看</a> |
            <a href="/post/edit?postid={{post.id}}" target="_blank">编辑</a> |
            <a href="javascript:void(0)" onclick="deleteBlogPost('{{post.id}}')">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% include '/inc/pager.html' %}
{% endblock %}