<!DOCTYPE html>
<head>
  <meta name="viewport"content="width=device-width, initial-scale=1"/>
</head>
<html>
  <body>
  <a href="{{origin}}">原始地址</a>
  <div class="list">
    {% for topic in topic_list %}
      {{ loop.index	}}. <a href='/s/board/{{board_id}}/topic/{{topic.id}}/1'>{{ topic.title }}</a> <br />
    {% endfor %}
  </div>
  <div class="page">
    <a href="/s/board/{{board_id}}/{{page-1}}"> 上一页</a>
    第{{ page }}页
    <a href="/s/board/{{board_id}}/{{page+1}}"> 下一页</a>
  </div>
  </body>
</html>
