<!DOCTYPE html>
<head>
	<meta name="viewport"content="width=device-width, initial-scale=1"/>
</head>
<html>
<body>
<a href="/s/login">登陆</a>
<div class="list">
    {% for board in board_list %}
    <a href='/s/board/{{board.id}}/1'>{{board.name}}</a> <br />
    {% endfor %}
</div>
</body>
</html>
