<!DOCTYPE html>
<head>
	<meta name="viewport"content="width=device-width, initial-scale=1"/>
	<title>{{title}}</title>
</head>
<html>
<body>
<h1>{{title}}</h1>
<a href="{{origin}}">原始地址</a>
<div class="content">
    {% for post in post_list %}
        {{post.body|safe}}
        {% if not loop_last %}<hr />{% endif %}
    {% endfor %}
</div>
<div class="page">
    <a href="/s/board/{{board_id}}/topic/{{topic_id}}/{{page-1}}"> 上一页</a>
    第{{ page }}页
    <a href="/s/p/{{board_id}}/topic/{{topic_id}}/{{page+1}}"> 下一页</a>
</div>
</body>
</html>