{% extends "base.html" %}

{% block content %}
<div style="width:100%;display:table;">
    <div id="main">
        {% block main %}{% endblock %}
    </div>

    <div id="sidebar">
        {# sidebar zone #}
        {# 用于撑起右侧栏，在窗口所小时不被压缩 #}
        <div style="width:240px;"></div>

        {# gonggao or something similar #}
        {% include 'inc/preface.html' %}

        {# tag cloud #}
        {% include 'inc/tag_cloud.html' %}

        {# recent post #}
        {% include 'inc/recent_posts.html' %}

        {% if side_long%}
        {% include 'inc/recent_comments.html' %}
        {% endif %}

        {% if side_long%}
        {# archive #}
        {% include 'inc/archive.html' %}
        {% endif %}
    </div>
{# end sider div #}

</div>
{% endblock %}