<!DOCTYPE html>

<html>
<head>
    <title>{{ config.heading }} {% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="edge"/>

    {% block feed %}{% endblock %}
    <link rel="icon" href="/static/favicon.ico"/>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css"/>

    {# script #}
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    {# disable IE6 IE7 IE8 #}
    <!--[if lte IE 8]> <script type="text/javascript"> window.location='/static/html/browser.html'; </script> <![endif]-->
    {# feed #}
    {% block script %}{% endblock %}
    <script>
        $(document).ready(function () {
            $.get("/tools/fortune", function (result) {
                $("#fortune").html(result).attr("title", result);
            });
        });
    </script>
    {# 各种网页跟踪代码. #}
    {% include 'inc/pagetracker.html' %}
</head>
<body>
{# LOGO页头区 #}
<div id="header">
    <div class="outer" style="height:100%;">
        <div id="blogtitle">
            <span id="title"><a href="/">{{ config.heading }}</a></span>
            <span class="description">{{ config.subheading }}</span>
        </div>

        <div id="search">
            <form method="get" action="/search">
                <input class="searchbox" type="text" size="40" name="query" value="{{ query }}" placeholder="搜索文章"/>
            </form>
        </div>

        <div class="tabbar">
            <ul class="tabul">
                <li class="{% if tab_article %}focustab{% endif %}"><a href="/post">文章</a></li>
                {% if config.picasaalbumname %}
                    <li class="{% if tab_album %}focustab{% endif %}"><a href="/album">相册</a></li>
                {% endif %}
                {% for spost in get_spin_posts() %}
                    <li class="{% if table_sid == spost.id %}focustab{% endif %}">
                        <a href="/post/{{ spost.id }}">{{ spost.title }}</a>
                    </li>
                {% endfor %}
                {% if getuser() %}
                    <li id="user_menu">
                        <a href="javascript:void(0)">{{ getuser().username | before('@') }}<span
                                class="downarrow_white_middle"></span></a>
                    </li>
                {% else %}
                    <li class=""><a href="/login">登入</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% if getuser() %}
    <div id="user_menu_div" class="nav_menu">
        <ul class="menuul">
            {% if isadmin() %}
                <li><a href="/post/edit">发表文章</a></li>
                <li><a href="/admin/post">管理隐藏文章</a></li>
                <li><a href="/admin/file">管理文件</a></li>
                <li><a href="/admin/config">设置</a></li>
            {% endif %}
            <li><a href="/logout">注销</a></li>
        </ul>
    </div>
    <script type="text/javascript">
        var ori_width = $("#user_menu").width();
        var tras_width = $("#user_menu_div").width();
        if (tras_width < ori_width) {
            tras_width = ori_width;
        }
        $(document).ready(function () {
            var user_menu = $("#user_menu");
            user_menu.hover(function () {
                $(this).addClass("hoverflag");
                var item = $(this);
                $(this).stop().animate({
                    width: tras_width
                }, 200, function () {
                    $("#user_menu_div").width(tras_width)
                            .css("position", "absolute").css('left', item.offset().left)
                            .css('top', item.offset().top + item.height())
                            .fadeIn('fast');
                });
            }, function () {
                $(this).removeClass("hoverflag");
                var item = $(this);
                setTimeout(function () {
                    if (item.hasClass('hoverflag') || $("#user_menu_div").hasClass('hoverflag')) {
                        return;
                    }
                    item.stop().animate({
                        width: '' + ori_width
                    }, 200, function () {
                        $("#user_menu_div").fadeOut('fast');
                    });
                }, 100);

            });

            $("#user_menu_div").hover(function () {
                $(this).addClass("hoverflag");
            }, function () {
                $(this).removeClass("hoverflag");
                var item = $(this);
                setTimeout(function () {
                    if (item.hasClass('hoverflag') || user_menu.hasClass('hoverflag')) {
                        return;
                    }
                    user_menu.stop().animate({
                        width: '' + ori_width
                    }, 200, function () {
                        item.fadeOut('fast');
                    });
                }, 100);
            });

        });
    </script>
{% endif %}

<div class="outer">
    {# 主体部分内容 #}
    {% block content %}{% endblock %}
    <div class="footer">
        版权所有: 2008-2015
    </div>
</div>
</body>
</html>
