{% extends "base_1col.html" %}

{% block main %}
    <div style="margin: 20px;text-align: center">
        <form action="/login" method="POST">
            <label for="username">用户:</label><input id="username" name="username" type="text" size="40"/> <br/>
            <label for="password">密码:</label><input id="password" name="password" type="password" size="40"/><br/>
            <input type="submit" value="登录"/>
        </form>
        {% if msg %}
        <span style="color: darkred">{{ msg }}</span>
        {% endif %}
    </div>
{% endblock %}