{% extends "base_2col.html" %}

{% if post.privilege != 2 %}
    {% set tab_article = 1 %}
{% else %}
    {% set table_sid = post.id %}
{% endif %}

{% block title %} - {{ post.title }} {% endblock %}
{% block script %}
<script type="text/javascript" src="/static/scripts/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/static/scripts/doT.js"></script>
<link rel="stylesheet" type="text/css" href="/static/styles/highlight.css" />


{% raw %}
<script id="pager_template" type="text/template">
    <div style="font-size:12px;padding-left:10px;margin-top:8px;">
        共 {{=it.count}} 条评论, 第 {{=it.page}}/{{=it.pagecount}} 页
        {{ if(it.page > 1){ }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="load_comment({{=it.page-1}})">&lt;&lt;上一页</a>
        {{ } }}
        {{ if(it.page < it.pagecount){ }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="load_comment({{=it.page+1}})">下一页&gt;&gt;</a>
        {{ } }}
    </div>
</script>

<script id="comment_template" type="text/template">
    <div class="comment" id="c{{=it.id }}">
        <div class="commentavatar"><img src="{{=it.avatar}}" /><br />
            <span id="u_{{=it.id }}">{{=it.username}}</span>
        </div>
        <div class="commentright"  id="c {{=it.id }} ">
            <div class="commenttitle">
                {{=it.date }}
                {{ if(it.homepage!=null && it.homepage!=""){ }}
                    | <a href="{{=it.homepage}}" target="_blank">主页</a>
                {{ } }}
                {{ if(it.admin){ }}
                    |  {{=it.email }}  |  {{=it.ip }}
                {{ } }}
            </div>

            {{ if(it.parentContent) { }}
                <div class="quote"><div class="commentavatar"><img src="{{=it.parentContent.avatar}}" /><br />
                    {{=it.parentContent.username}}
                </div><div class="commentright"><div class="commenttitle">
                    {{=it.parentContent.date }}
                    {{ if(it.parentContent.homepage!=null && it.parentContent.homepage!=""){ }}
                        | <a href="{{=it.parentContent.homepage}}" target="_blank">主页</a>
                    {{ } }}
                </div>

                <div class=commenbody>{{=it.parentContent.content }}</div><div>
                </div></div></div>
            {{ } }}

            <div class=commenbody>{{=it.content }}</div>
            <div>
                <a href="javascript:void(0)" onclick="replyComment('{{=it.id }}')">回复</a>
                {{ if(it.admin){ }}
                | <a href="javascript:void(0);"  onclick="delete_comment( {{=it.id }} )">删除</a>
                {{ } }}
            </div>
        </div>
    </div>
</script>
{% endraw %}

<script type="text/javascript">

    var entityMap = {
        "&": "&amp;",
        "<": "&lt;",
        ">": "&gt;",
        '"': '&quot;',
        "'": '&#39;',
        "/": '&#x2F;'
    };

    function escapeHtml(content) {
        content = String(content).replace(/[&<>"'\/]/g, function (s) {
            return entityMap[s];
        });
        return content;
    }

    function escapeCommentFields(comment) {
        comment.content = escapeHtml(comment.content);
        comment.username = escapeHtml(comment.username);
        if (typeof(comment.parentContent) != 'undefined' && comment.parentContent) {
            comment.parentContent.content = escapeHtml(comment.parentContent.content);
            comment.parentContent.username = escapeHtml(comment.parentContent.username);
        }
    }

    function load_comment(page){
        var url = "/comment/{{ post.id }}/" + page;
        $.ajax({
            type: "get",
            url: url,
            dataType:'json',
            beforeSend: function(){
                $("#comments").html("努力加载评论中....");
            },
            success: function(data){
                $("#comments").html("");
                var ctmpl = document.getElementById('comment_template').innerHTML;
                var cdoTtmpl = doT.template(ctmpl);
                $(data.clist).each(function(i, comment){
                    escapeCommentFields(comment)
                    var chtml = cdoTtmpl(comment);
                    $("#comments").append(chtml);
                });
                var tmpl = document.getElementById('pager_template').innerHTML;
                var doTtmpl = doT.template(tmpl);
                var html = doTtmpl(data);
                $("#comments").append(html);
                var topos = window.location.hash;
                if (topos) {
                    $.scrollTo(topos, 200);
                    window.location.hash = '';
                }
            },
            complete: function(){
                //HideLoading();
            },
            error: function(){
                //请求出错处理
                $("#comments").html("评论加载出错.");
            }
        });
    }

    //{% if isadmin() %}
    function delete_comment(cid){
        if(confirm("确定要删除评论?")){
            $.post("/comment/delete", {commentid:cid}, function(){
                load_comment(1);
            });
        }
    }

    function deleteBlogPost(id, name){
        if(confirm("确定要删除「" + name + "」?")){
            $.post("/post/delete", {postid:id}, function(data){
                window.location.href = '/';
            });
        }
    }
    //{% endif %}

    function replyComment(id){
        $("#replyto").val(id);
        $("#replyname").html($("#u_"+id).html());
        $("#replytext").show();
        $.scrollTo("#newcomment", 500);
    }

    function removeReply(){
        $("#replyto").val('');
        $("#replyname").html('');
        $("#replytext").hide();
    }

    function submitComment(){
        $("#comment_submit").attr('disabled','disabled');
        var cform = $("#comment_form");
        var form = cform[0];
        if(form.username.value == ""){
            alert("用户名 不能为空.");
            $('#comment_submit').removeAttr('disabled');
            return false;
        }
        if(form.content.value == ""){
            alert("评论 不能为空.");
            $('#comment_submit').removeAttr('disabled');
            return false;
        }
        //{% if not getuser()%}
        var seq = form.seq.value;
        var code = form.code.value;
        var flag = -1;
        $.ajax({
            type:'POST',
            url: "/captcha/check",
            data:{"code":code, "seq":seq},
            async:false,
            dataType: 'json',
            success:function(data){
                if(data.state == 0){
                    flag = 0;
                }else{
                    flag = -1;
                }
            }
        });
        if (flag != 0) {
            alert('验证码错误');
            $('#comment_submit').removeAttr('disabled');
            return false;
        }
        //{% endif %}

        $.post(form.action, cform.serialize(), function(result){
            if(result.state == 0){
                //成功
                load_comment(1);
                form.content.value = "";
                removeReply();
                $.scrollTo("#comments", 500);
            } else {
                alert('评论发表失败:' + result.msg);
            }
        }, "json");
        $('#comment_submit').removeAttr('disabled');
        return false;
    }
$(document).ready(function(){
    load_comment(1);

    // comment for submit
    $("#comment_form").submit(function (e){
        e.preventDefault();
        submitComment(e);
        return false;
    });
});
</script>
{% endblock %}


{% block main %}
    {# 文章区域 #}
    <div class="post" id="post_{{ post.id }}">
        {% if post.privilege != 2 %}
            <h1 class="post_title">{{ post.title }}</h1>
            <div class="postinfo">
                    {{ post.date|datetime }} | {{ post.author }}
                    {% if post.tags %}
                    | 标签:
                    {% for tag in post.tags %}
                        <a href="/post/list/{{ tag | tag }}/">{{ tag }}</a>
                        {% if not loop.last %},{% endif %}
                    {% endfor %}
                    {% endif %}
                {% if isadmin() %}
                | <a href="javascript:void(0);" onclick="deleteBlogPost('{{ post.id }}', '{{ post.title }}');">删除</a>
                | <a href="/post/edit?postid={{ post.id }}">编辑</a>
                {% endif %}
            </div>
            <div class="post_body">{{ post.content|safe }}</div>
        {% else %}
            <div class="post_body">{{ post.content|safe }}</div>
            {% if isadmin() %}
            <br /><a href="javascript:void(0);" onclick="deleteBlogPost('{{ post.id }}', '{{ post.title }}');">删除</a>
            | <a href="/post/edit?postid={{ post.id }}">编辑</a>
            {% endif %}
        {% endif %}

    </div>

    {% if post.privilege == 1 and similars and similars|count > 1 %}
    <div class="similars">
        相关文章: <br/>
        <ul>
        {% for similar in similars %}
            <li>
            <a href="/post/{{similar.id}}">{{similar.title}}</a> <br/>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {# 评论开始 #}
    <div id="comments">
    </div>

    <div id="newcomment" class="newcomment">
        <script>
            function genseq(){
                return 'seq-' + (new Date()).valueOf() + '-' + Math.ceil(Math.random()*1000);
            }
            function refreshcaptcha(){
                seq = genseq();
                document.getElementById('captcha_img').src = '/captcha?seq=' + seq;
                document.getElementById('input_seq').value = seq;
            }
        </script>
        <form action="/comment/add" method="post" id="comment_form">
            <input type=hidden name=replyto id=replyto value="" />
            {% if not getuser() %}
            <script>
                var seq = genseq();
                document.write('<input type="hidden" id="input_seq" name="seq" value="' + seq + '" />');
            </script>
            {% endif %}

            <style>
                div.comment_area {
                    line-height: 200%;
                    padding-bottom: 10px;
                }
                label.des {
                    width:100px;
                    display:inline-block;
                }
                div#replytext {
                    border:1px solid #CCCCCC;
                    background-color: #b3c0c9;
                    line-height: 110%;
                    float: left;
                    padding: 2px 4px;
                    margin: 5px 0 0;
                }
            </style>
            <div class="comment_area">
                <label for="username" class="des">昵称</label><input type=text name="username" id="username" {%if getuser()%}readonly="readonly" value="{{ getuser().username }}"{%endif%} size=30 /><font color=red>*</font><br />
                <label for="email" class="des">电子邮箱</label><input type="email" name="email" id="email" {%if getuser()%}readonly="readonly" value="{{ getuser().email }}"{%endif%} size=30 />(不公开)<br />
                <label for="homepage" class="des">个人主页</label><input type="url" name="homepage" id="homepage" size=50 value="" /><br />

                <div>
                    <div id="replytext" style="display:none;" >
                        你正在回复<span id="replyname"></span>的评论.
                        <a href='javascript:void(0)' onclick="removeReply()" title="取消恢复指定评论">X</a>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <textarea name="content" id="content" style="width:80%;height:100px;font-size:12px;"></textarea><font color=red>*</font>
                <input type="hidden" name="postid" id="postid" value="{{ post.id }}" /> <br />

                {% if not getuser() %}
                    <label for="code" class="des"> 验证码</label>
                    <input type=text name="code" id="code" size=6 autocomplete="off" /><font color=red>*</font>
                    <a href="javascript:void(0);"  onclick="refreshcaptcha();" style="border:none;" ><script>
                        document.write('<img id="captcha_img" src="/captcha?seq=' + seq + '" style="display:inline;vertical-align:middle;border:none;" />');
                    </script></a>
                    <br />
                {% endif %}
                <input class="button" type="submit" id="comment_submit" value="提交" />
            </div>
        </form>
    </div>
{% endblock %}