<!DOCTYPE html>
<html>
<body>
<div style="margin:20px 0 10px 0;">
    <table style="width:80%">
        <tr>
            <th width="20%">Rss</th>
            <th>Origin</th>
        </tr>
        {% for feed_config in feed_configs %}
            <tr>
                <td style="text-align: center">
                    <a href="/rss/{{ feed_config.rss_id }}" target="_blank">{{ feed_config.rss_id }}</a>
                </td>
                <td>{{ feed_config.rss_link }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>