{% extends "base_2col.html" %}

{% block title %} - {{query}} 的搜索结果 {% endblock %}
{% block script %}
<script type="text/javascript" src="/static/scripts/doT.js"></script>

{% raw %}
    <script id="search_template" type="text/template">
        <div class="search_item">
            <div class="title"><a href="/post/{{=it.postid}}" target="_blank">{{=it.title}}</a></div>
            <div class="snippet">{{=it.content}}</div>
            <div class="info">{{=it.author}} | {{=it.date}}</div>
        </div>
    </script>
{% endraw %}

<script type="text/javascript">
    var cursor = ''
    function load_result(){
        var pagesize = 10;
        var url = '/search/ajax?query={{query}}&cursor=' + cursor + '&pagesize=' + pagesize;
        $.ajax({
            type: "get",
            url: url,
            dataType:'json',
            beforeSend: function(){
                $("#search_more").html('努力加载中....');
            },
            success: function(data){
                cursor = data.cursor==null?'':data.cursor;
                $("#search_info").html('找到' + data.total + '篇相关文章');
                var rlist = data.list;
                var query = data.query;
                var tmpl = document.getElementById('search_template').innerHTML;
                var doTtmpl = doT.template(tmpl);
                $(rlist).each(function(i, post){
                    $("#search_list").append(doTtmpl(post));
                });

                if (rlist.length > 0) {
                    $("#container").show();
                }

                if(cursor != null && cursor != '' && rlist.length >= pagesize){
                    $("#search_more").html('加载更多');
                } else {
                    $("#search_more").hide();
                }
            },
            complete: function(){
                //HideLoading();
            },
            error: function(){
                //请求出错处理
                $("#search_more").html("加载出错..");
            }
        });
    }
    $(document).ready(function(){
        $("#search_more").click(function(){
            load_result();
        });
        load_result();
    });
</script>

<style>
    div.search_item {
        margin-top: 10px;
        padding-bottom: 5px;
    }
    div.search_item em {
        color:#c00;
        font-style:normal;
    }
    div.search_item a {
        color: #00c;
        text-decoration: underline;
    }
    div.search_item a:visited {
        color: #639;
    }
    div.search_item .title {
        font-size: 16px;
    }
    div.search_item .info {
        font-size: 12px;
        color: green;
    }
    div.search_item .snippet {
        line-height: 20px !important;
        font-size: 13px;
    }
    div.container {
        background-color: white;border: 1px solid #ccc;
        padding: 0 15px 10px;
    }
    div#search_info {
        color: #444444;
        margin-bottom: 8px;
        background-color: #eeeeee;
        border: 1px solid #ccc;
        padding: 10px;

    }
    div#search_more {
        background-color: #eeeeee;
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        margin-top: -1px;
        cursor:pointer
    }
</style>
{% endblock %}

{% block main %}
<div id='search_info'></div>
<div class="container" id="container"  style="display:none">
    <div id='search_list'></div>
</div>
<div id='search_more'></div>
{% endblock %}