.highlight .hll {
    background-color: #ffffcc
}

.highlight {
    background: #f8f8f8 !important;
    padding: 5px !important;
    margin: 5px 0;
    font-family: monospace !important;
}

div.highlight {
    background: #f8f8f8 !important;
    padding: 10px !important;
    font-family: monospace !important;
}

.highlight .c {
    color: #408080;
    font-style: italic
}

.highlight .err {
    border: 1px solid #FF0000
}

.highlight .k {
    color: #008000;
    font-weight: bold
}

.highlight .o {
    color: #666666
}

.highlight .cm {
    color: #408080;
    font-style: italic
}

.highlight .cp {
    color: #BC7A00
}

.highlight .c1 {
    color: #408080;
    font-style: italic
}

.highlight .cs {
    color: #408080;
    font-style: italic
}

.highlight .gd {
    color: #A00000
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #FF0000
}

.highlight .gh {
    color: #000080;
    font-weight: bold
}

.highlight .gi {
    color: #00A000
}

.highlight .go {
    color: #888888
}

.highlight .gp {
    color: #000080;
    font-weight: bold
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #800080;
    font-weight: bold
}

.highlight .gt {
    color: #0044DD
}

.highlight .kc {
    color: #008000;
    font-weight: bold
}

.highlight .kd {
    color: #008000;
    font-weight: bold
}

.highlight .kn {
    color: #008000;
    font-weight: bold
}

.highlight .kp {
    color: #008000
}

.highlight .kr {
    color: #008000;
    font-weight: bold
}

.highlight .kt {
    color: #B00040
}

.highlight .m {
    color: #666666
}

.highlight .s {
    color: #BA2121
}

.highlight .na {
    color: #7D9029
}

.highlight .nb {
    color: #008000
}

.highlight .nc {
    color: #0000FF;
    font-weight: bold
}

.highlight .no {
    color: #880000
}

.highlight .nd {
    color: #AA22FF
}

.highlight .ni {
    color: #999999;
    font-weight: bold
}

.highlight .ne {
    color: #D2413A;
    font-weight: bold
}

.highlight .nf {
    color: #0000FF
}

.highlight .nl {
    color: #A0A000
}

.highlight .nn {
    color: #0000FF;
    font-weight: bold
}

.highlight .nt {
    color: #008000;
    font-weight: bold
}

.highlight .nv {
    color: #19177C
}

.highlight .ow {
    color: #AA22FF;
    font-weight: bold
}

.highlight .w {
    color: #bbbbbb
}

.highlight .mf {
    color: #666666
}

.highlight .mh {
    color: #666666
}

.highlight .mi {
    color: #666666
}

.highlight .mo {
    color: #666666
}

.highlight .sb {
    color: #BA2121
}

.highlight .sc {
    color: #BA2121
}

.highlight .sd {
    color: #BA2121;
    font-style: italic
}

.highlight .s2 {
    color: #BA2121
}

.highlight .se {
    color: #BB6622;
    font-weight: bold
}

.highlight .sh {
    color: #BA2121
}

.highlight .si {
    color: #BB6688;
    font-weight: bold
}

.highlight .sx {
    color: #008000
}

.highlight .sr {
    color: #BB6688
}

.highlight .s1 {
    color: #BA2121
}

.highlight .ss {
    color: #19177C
}

.highlight .bp {
    color: #008000
}

.highlight .vc {
    color: #19177C
}

.highlight .vg {
    color: #19177C
}

.highlight .vi {
    color: #19177C
}

.highlight .il {
    color: #666666
}

.highlight pre {
    margin: 0;
}