<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>{{ config.heading }} {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/m/m_main.css" />
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js" ></script>
    {% block script %}{% endblock %}
    {# 各种网页跟踪代码. #}
    {% include '/inc/pagetracker.html' %}
</head>
<body>

<div class="nav">
    <a href="http://{{ config.host }}/">{{ config.heading }}</a> | {{ config.subheading }}
</div>

<div class="body">
    {% block main %}{% endblock %}
    <div class="footer">
        Google App Engine 强力驱动 <br />
        版权所有: 2008-2015
    </div>
</div>

{# 各种网页跟踪代码. #}
{#{% include '/inc/pagetracker.html' %}#}
</body>

</html>