{% extends "m/m_base.html" %}

{% block title %} - 文章列表 {% if tag %} - {{ tag }} {% endif %} {% if archive %} - {{ archive }} {% endif %} {% endblock %}
{% block script %}
<link rel="stylesheet" type="text/css" href="/static/styles/highlight.css" />
{% endblock %}

{% block main %}
{# Post list #}
<div class="post_list">
{% for post in postlist %}
    <div class="post_item" id="post_{{ post.id }}">
        <a href="/post/{{ post.id }}">
            <div class="post_title">{{ post.title }}</div>
            <div class="post_body">
                {{ post.abstract(100) }}
            </div>
            <div class="post_info">
                <a class="info_block">{{ post.date|datetime }}</a>
                {% if post.tags %}
                {% for tag in post.tags %}
                    <a class="info_block" href="/post/list/{{ tag | tag }}/" >{{ tag }}</a>
                {% endfor %}
                {% endif %}
                <a class="info_block" href="/post/{{ post.id }}#comments">{{ post.commentCount or 0 }}条评论</a>
            </div>
        </a>
    </div>
{% endfor %}
</div>

{% if pager %}
<script>
    function go_page(url) {
        window.document.location = url;
    }
</script>
<div class="page">

    {% if pager.hasprev() %}
        <a href="{{pager.url(pager.page-1)}}" class="first">上一页</a>
    {% else %}
        <a class="first">已到首页</a>
    {% endif %}

    <a href="javascript:;">
    <select name="page_select" id="page_select" onchange="go_page(this.options[this.options.selectedIndex].value)">
    {% for idx in pager.showpages() %}
        {% if idx == pager.page %}
        <option value="{{idx}}" selected=selected>第{{idx}}页</option>
        {% else %}
        <option value="{{pager.url(idx)}}">第{{idx}}页</option>
        {% endif %}
    {% endfor %}
    </select>
    <span>第{{pager.page}}页</span>
    </a>

    {% if pager.hasnext() %}
        <a href="{{pager.url(pager.page+1)}}" class="last">下一页</a>
    {% else %}
        <a class="last">已到尾页</a>
    {% endif %}
    <div style="clear:both"></div>
</div>
{% endif %}
{% endblock %}