{% extends "m/m_base.html" %}

{% block title %} {% endblock %}
{% block script %}
<link rel="stylesheet" type="text/css" href="/static/styles/highlight.css" />
<script type="text/javascript" src="/static/scripts/doT.js"></script>

{% raw %}
<script id="comment_template" type="text/template">
    <div class="comment" id="c{{=it.id }}">
        <div class="comment_avatar"><img src="{{=it.avatar.replace('s=64', 's=32')}}" /><br />
        </div>
        <div class="comment_info"  id="c {{=it.id }} ">
            <div class="commenttitle">
                <span style="color:#444;">{{=it.username}}<span/>
                {{ if(it.homepage!=null && it.homepage!=""){ }}
                    | <a href="{{=it.homepage}}" target="_blank">主页</a>
                {{ } }}
                <br />
                <span style="color:#444; font-size:0.8em">{{=it.date }}<span/>
            </div>
        </div>
        <div style="clear:both"></div>
        {{ if(it.parentContent) { }}
        <div class="comment_reply">
            回复 {{=it.parentContent.username}}
        </div>
        {{ } }}
        <div class="comment_body">{{=it.content }}</div>
    </div>
</script>
{% endraw %}

<script type="text/javascript">

    var entityMap = {
        "&": "&amp;",
        "<": "&lt;",
        ">": "&gt;",
        '"': '&quot;',
        "'": '&#39;',
        "/": '&#x2F;'
    };

    function escapeHtml(content) {
        content = String(content).replace(/[&<>"'\/]/g, function (s) {
            return entityMap[s];
        });
        return content;
    }

    function escapeCommentFields(comment) {
        comment.content = escapeHtml(comment.content);
        comment.username = escapeHtml(comment.username);
        if (typeof(comment.parentContent) != 'undefined' && comment.parentContent) {
            comment.parentContent.content = escapeHtml(comment.parentContent.content);
            comment.parentContent.username = escapeHtml(comment.parentContent.username);
        }
    }

    function load_comment(page){
        var url = "/comment/{{ post.id }}/" + page;
        $.ajax({
            type: "get",
            url: url,
            dataType:'json',
            beforeSend: function(){
                //$("#comments").html("努力加载评论中....");
            },
            success: function(data){
                var comments = $("#comments");
                var ctmpl = document.getElementById('comment_template').innerHTML;
                var cdoTtmpl = doT.template(ctmpl);
                $(data.clist).each(function(i, comment){
                    escapeCommentFields(comment);
                    var chtml = cdoTtmpl(comment);
                    comments.append(chtml);
                });
                var more_comment = $("#more_comments");
                if(data.page < data.pagecount){
                    more_comment.show();
                    more_comment.click(function () {
                        load_comment(data.page + 1);
                    });
                } else {
                    more_comment.hide();
                }
                var topos = window.location.hash;
                if (topos) {
                    $.scrollTo(topos, 200);
                    window.location.hash = '';
                }
            },
            complete: function(){
                //HideLoading();
            },
            error: function(){
                //请求出错处理
                //$("#comments").html("评论加载出错.");
            }
        });
    }

    $(document).ready(function(){
        load_comment(1);
    });
</script>
{% endblock %}

{% block main %}
{# Post #}
<div class="post_item">
    <div class="post_title">{{ post.title }}</div>
    <div class="post_body">
        {{post.content|safe}}
    </div>
    <div class="post_info">
        <a class="info_block">{{ post.date|datetime }}</a>
        {% if post.tags %}
        {% for tag in post.tags %}
            <a class="info_block" href="/post/list/{{ tag | tag }}/" >{{ tag }}</a>
        {% endfor %}
        {% endif %}
        <a class="info_block" href="/post/{{ post.id }}#comments">{{ post.commentCount or 0 }}条评论</a>
    </div>
</div>

{% if post.privilege == 1 and similars and similars|count > 1 %}
    <div class="similars">
        相关文章: <br/>
        <ul>
        {% for similar in similars %}
            <li>
            <a href="/post/{{similar.id}}">{{similar.title}}</a> <br/>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

<div id="comments"> </div>

<div id="more_comments" style="display:none"> 加载更多 </div>
{% endblock %}