body {
    margin: 0;
    background-color: #e4e4e4;
    font: "1rem/1.5 normal 'Droid Sans Fallback',sans-serif";
}

form {
    margin: 0;
    display: inline
}

img {
    margin: 2px;
}

a {
    text-decoration: none;
    color: #444444;
}

div.nav {
    background-color: #444444;
    line-height: 2em;
    color: #f8f8f8;
    padding: 10px 8px;
    height: 40px;
    font-size: 1.25rem;
}

div.nav a {
    color: #f8f8f8;
}

div.post_item {
    border: 1px solid #d4d4d4;
    border-top-color: #d7d7d7;
    border-bottom-color: #cbcbcb;
    background-color: #fff;
    margin: 10px 10px 13px;
}

div.post_item div.post_title {
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 5px 10px 0;
    color: #417fec;
}

div.post_item div.post_info {
    font-size: 1rem;
    background-color: #F9F9F9;
    border-top: 1px solid #d7d7d7;
}

div.post_item div.post_info a.info_block {
    display: inline-block;
    width: auto;
    font-size: 0.8rem;
    border: 0 solid #d7d7d7;
    border-right-width: 1px;
    padding: 10px 10px;
}

div.post_item div.post_body {
    padding: 10px 10px 15px;
    font-size: 1rem;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}

div.post_body img {
    max-width: 100% !important;
}

/* comments */
div#comments {
    margin: 10px 10px;
    background-color: #fff;
}

div.comment {
    border-top: 1px solid #d7d7d7;
    padding: 10px 10px;
}

div.comment div.comment_avatar {
    float: left;
}

div.comment div.comment_info {
    float: left;
    padding-left: 10px;
    height: 32px;
}

div.comment div.comment_reply {
    color: #6877c6;
}

div.comment div.comment_body {
    padding-top: 10px;
}

div#more_comments {
    margin: 10px 10px;
    background-color: #fff;
    text-align: center;
    padding: 10px;
}

/* for page */
div.page {
    padding: 0 10px;
    margin-top: 5px;
    text-align: center;
}

div.page a {
    text-decoration: none;
    color: #222;
    border: 1px solid #CCC;
    padding: 0 10px;
    display: inline-block;
    height: 1.4em;
    line-height: 1.4em;
    /*border-radius: 3px;*/
    position: relative;
}

div.page a.first {
    float: left;
}

div.page a.last {
    float: right;
}

div.page select {
    color: #222;
    border: 1px solid #CCC;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    -webkit-appearance: none;
}

div.footer {
    padding: 10px 10px 0;
    text-align: left;
    font-size: 0.8rem;
    color: #555555;
    line-height: 1.2;
}

blockquote {
    border: 1px solid #ECEDED;
    margin: 5px;
    padding: 3px 1px 3px 1px;
    background-color: #F6F6F6;
}

div.similars {
    margin: 0 10px 13px;
    padding: 10px;
    background-color: white;
    border: 1px solid #D9D9D9;
}

div.similars ul {
    margin: 5px 20px 0;
    padding: 0;
    list-style-type: square;
}

/* for tables */
table {
    border-top: 1px solid #b6b6b6;
    border-left: 1px solid #b6b6b6;
    border-collapse: collapse;
    border-spacing: 0;
}

table td, th {
    border-right: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
    padding: 6px;
}

table tr:nth-child(even) {
    background: #DDD;
}

table tr:nth-child(odd) {
    background: #EEE;
}

table tr:hover {
    background: #b1c5e0;
}

table.no_border {
    border-collapse: collapse;
    border-spacing: 1px;
    padding: 0;
    border: none;
    background: white;
}