<style>
    div.metro {
        color: #fff;
        word-wrap: break-word;
        overflow: hidden;
        margin-bottom: 10px;
    }

    a.metro {
        text-decoration: none;
    }

    div#rss {
        background: #5CC26F url('/static/images/rss_metro_50.png') no-repeat left bottom;
        height: 50px;
        float: left;
        width: 115px;
    }

    div#twitter {
        background: #19BFE5 url('/static/images/twitter.png') no-repeat left bottom;
        height: 50px;
        float: right;
        width: 115px;
    }

    div#github {
        background: #475a79 url('/static/images/github.png') no-repeat left bottom;
        font-size: 16px;
        height: 60px;
    }

    div#talk {
        background: #7798cb url('/static/images/talk.png') no-repeat left bottom;
        padding: 8px 8px 25px 25px;
        min-height: 40px;
        line-height: 1.3;
    }
</style>

<a href="/feed" target="_blank" class="metro">
    <div id="rss" class="metro">
        <span style="position: relative; left: 45px;top: 10px;">订阅 RSS</span>
    </div>
</a>

<a href="https://twitter.com/DongWenDao" target="_blank" class="metro">
    <div id="twitter" class="metro">
        <span style="position: relative; left: 50px;top: 15px;">Twitter</span>
    </div>
</a>

<div style="clear:both"></div>

<a href="https://github.com/DongWenDao" target="_blank" class="metro">
    <div id="github" class="metro">
        <span style="position: relative; left: 70px;top: 20px;">访问我的 GitHub</span>
    </div>
</a>
<div id="talk" class="metro">
    {{ get_fortune() }}
</div>