<div class="block">
    <div class="header" id="commenthead">最近评论</div>
    <div class="content" id="commentcontent">
        <ul class="block_ul">
            {% for comment in get_recent_comments() %}
            <li>
                <a href="/post/{{comment.postId}}#c{{comment.id}}" title="{{comment.username}} on {{get_post_title(comment.postId)}}">
                <div class="c_title">{{ comment.username }} on {{get_post_title(comment.postId)}}</div>
                    <div class="c_content">{{ comment.content }}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>