<div class="block">
    <div class="header" id=recentposthead>最近发表文章</div>
    <div class=content id=recentpostcontent>
        <ul class="block_ul">
            {% for post in get_recent_posts() %}
                <li>
                    <a class="oneline" href="/post/{{ post.id}}" title="{{ post.title|replace('"', '\"') }}">
                        {{ post.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>