<div class="block">
    <link rel="stylesheet" type="text/css" href="/static/styles/tipTip.css" />
    <script type="text/javascript" src="/static/scripts/jquery.tipTip.js"></script>
    <script>
        $(function(){
            $(".cloud_tag").tipTip({delay:100});
        });
    </script>
    <div class="header"  id="taghead">标签</div>
    <div id=recenttagcontent style="padding:5px 0 7px;">
            {% for tag in get_all_tags() %}
            <a href="/post/list/{{ tag.name | tag }}/" class="cloud_tag" title="共{{tag.count}}篇文章">{{tag.name}}</a>
            {% endfor %}
            <div style="clear:both;"></div>
    </div>
</div>