<style>
div.user {
    float: right;
    font-size:16px;
    margin-top:3px;
    padding-left:5px;
}

</style>
<div class="user">
    {% if getuser() %}
    {{ getuser().username }}&nbsp;
    {% if isadmin() %}
    <span><a href="/post/edit" class="{% if tab_newpost %}focustab{% endif %}" >写文章</a></span>
    | <span><a href="/admin/config" class="{% if tab_manager %}focustab{% endif %}" >设置</a></span>
    | <span><a href="/admin/file" class="{% if tab_file %}focustab{% endif %}" >文件管理</a></span>
    {% endif %}
    | <a href="/logout">注销</a>
    {% else %}
    <a href="/login">登录</a>
    {% endif %}
</div>